.parent-div {
    position: relative;
    height: 1000px;
}

.child-div {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main-form {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    max-width: 600px;
    margin: 0 auto;

    .input-group {
        display: flex;
        justify-content: center;

    }

    .input-group:not(.bootstrap-touchspin):focus-within {
        box-shadow: none;
    }
}