$primary: #5C5D5F;
$secondary: #696969;
$green:#8DA385;
$text_green:#8CA385;
$white:#fff;
$red:red;
$dark-grey:#595858;
$bg_pearl:#FBFAF8;
$rice_green:#F1EFEB;
$primary_border:#DDD4D8;
$fontPrimary: #fffdfb;
$secondprimary: #fec260;

// cvd 
$black:#212121;
$dark_grey:#434343;
$matt_grey:#D9D9D9;
$grey:#656565;
$light_grey:#A9A9A9;
$grey_blue:#CBCBCB;
$silver:#EDEDED;
$white:#FFFFFF;
$green:#434343;
$warning:#FFB240;

// $fontfamily: "Poppins", sans-serif;
// $fontfamily1: "Crimson Pro", serif;
// $font_Gotham: "GothamLight";
// $font_Buttler: "ButtlerRegular";
$OutfitNormal:"Outfit";
$fontOutfit:"OutfitThin";
$fontOutfitBold:"OutfitBold";
$fontOgg:"OggBold";
